@page
@model charactersModel;
@{
    ViewData["Title"] = "Star Wars Characters";
    var charList = Model.sortedList;
    if (charList == null)
    {
        charList = Model.api.swCharList;
    }


}

<div >
    <div>
        <h2>@ViewData["Title"]</h2>
        <p>Append your favorite chacter to the url to get info about them! <a href="https://localhost:5001/characters/luke">Try it out!</a> &#128523 </p>
        <form> Sort By:     
            <label class="radio-inline">
                <input type="radio" value="Name" asp-for="pick" name="sortby"> Name
            </label>
            <label class="radio-inline">
                <input type="radio" asp-for="pick" value="Height" name="sortby"> Height
            </label>
            <label class="radio-inline">
                <input type="radio" asp-for="pick" value="Mass" name="sortby"> Mass
            </label>
        </form>
    </div>
    <ul style="text-align:left">
        @foreach (var peep in charList) 
        {
            <li>@Html.DisplayFor(modelItem => peep.Name)</li>
        }
    </ul>
</div>
